{% extends "base.html.twig" %}

{% block title %}
	{% if editEmploye %}
		Modifier Employé
	{% else %}
		Ajouter Employé
	{% endif %}
{% endblock %}

{% block body %}

	{% if editEmploye %}
		<h2 class="text-dark text-center mt-3">Modifier un employé</h2>
	{% else %}
		<h2 class="text-dark text-center mt-3">Ajouter un employé</h2>
	{% endif %}


	<div class="container">
		{{ form_start(formEmploye, {
            attr: {
                novalidate: "novalidate"
            }
        }) }}

		{{ form_row(formEmploye.prenom) }}
		{{ form_row(formEmploye.nom) }}
		{{ form_row(formEmploye.telephone) }}
		{{ form_row(formEmploye.email) }}
		{{ form_row(formEmploye.adresse) }}
		{# Il faudra retirer le poste du formulaire #}
		{{ form_row(formEmploye.poste) }}
		{{ form_row(formEmploye.salaire) }}
		{{ form_row(formEmploye.datedenaissance) }}

		<button type="submit" class="btn btn-outline-dark mt-3">
        {% if editEmploye %}
            Modifier
        {% else %}
            Ajouter
        {% endif %}
        
        
        </button>

		{{ form_end(formEmploye) }}
	</div>


{% endblock %}
