{% extends 'base.html.twig' %}

{% block title %}Gestion Employes
{% endblock %}

{% block body %}


	<h1 class="text-center mx-auto my-3 text-dark my-5">Employes</h1>
	<div class="container">
		<a href="{{ path('employes') }}{{ sort == 'desc' ? '' : '?sort=desc' }}" class="btn btn-info">
			{% if sort == 'desc' %}
				Reset
			{% else %}
				Trier par salaire décroissant
			{% endif %}
		</a>


		{# <a href="{{ path('employes', { 'sort': 'asc' }) }}" class="btn btn-info">Trier par salaire croissant</a>
								<a href="{{ path('employes', { 'sort': 'desc' }) }}" class="btn btn-secondary">Trier par salaire décroissant</a> #}
		<table class="table text-center mt-3 rounded">
			<thead>
				<tr>
					<th>#</th>
					<th>Prenom</th>
					<th>Nom</th>
					<th>Telephone</th>
					<th>Email</th>
					<th>Adresse</th>
					<th>Poste</th>
					<th>Salaire</th>
					<th>Date de naissance</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				{% for employe in employes %}
					<tr>
						<td>{{ employe.id }}</td>
						<td>{{ employe.prenom }}</td>
						<td>{{ employe.nom }}</td>
						<td>{{ employe.telephone }}</td>
						<td>{{ employe.email }}</td>
						<td>{{ employe.adresse }}</td>
						<td>{{ employe.poste }}</td>
						<td>{{ employe.salaire }}</td>
						<td>{{ employe.datedenaissance|date('Y-m-d') }}</td>
						<td>
							<a class="text-decoration-none" href="{{ path('see', {id:employe.id}) }}">
								<i class="bi bi-eye text-success"></i>
							</a>
							<a href="{{ path('update', {id:employe.id}) }}" class="text-decoration-none">
								<i class="bi bi-pencil-square"></i>
							</a>
							<a href="{{ path('delete', {id:employe.id}) }}" class="text-decoration-none">
								<i class="bi bi-trash text-danger"></i>
							</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
		<div class="row">
			<div class="col-6">
				<a class="btn btn-outline-success  text-dark border border-dark w-100" href="{{ path('form') }}">Ajout Employés</a>
			</div>
			<div class="col-6">
				<a class="btn btn-outline-warning text-dark border border-dark w-100" href="{{ path('salaires') }}">Highest Paid</a>
			</div>
		</div>
	</div>
{% endblock %}
