{% extends 'base.html.twig' %}

{% block title %}Gestion Employes
{% endblock %}

{% block body %}

	<h1 class="text-center mx-auto my-3 text-dark my-5">Employes</h1>
	<div class="container">
		<table class="table table-dark text-center">
			<thead>
				<tr>
					<th>#</th>
					<th>Prenom</th>
					<th>Nom</th>
					<th>Telephone</th>
					<th>Email</th>
					<th>Adresse</th>
					<th>Salaire</th>
					<th>DateDeNaissance</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				{% for employe in employes %}
					<tr>
						<td>{{ employe.id }}</td>
						<td>{{ employe.prenom }}</td>
						<td>{{ employe.nom }}</td>
						<td>{{ employe.telephone }}</td>
						<td>{{ employe.email }}</td>
						<td>{{ employe.adresse }}</td>
						<td>{{ employe.salaire }}</td>
						<td>{{ employe.datedenaissance|date('Y-m-d') }}</td>
						<td>
							<a href="{{ path('update', {id:employe.id}) }}" class="text-decoration-none">
								<i class="bi bi-pencil-square"></i>
							</a>
							<a href="{{ path('delete', {id:employe.id}) }}" class="text-decoration-none">
								<i class="bi bi-trash text-danger"></i>
							</a>
						</td>

					</tr>
				</tbody>
			</tbody>
		</tr>
	{% endfor %}
</tbody></table></div>{% endblock %}
