{% extends "base.html.twig" %}

{% block title %}Employes Salaire{% endblock %}

{% block body %}
	<div class="container my-5">
		<table class="table table-light text-center">
			<thead>
				<tr>
					<td class="bg-primary fw-bold">Nom</td>
					<td class="bg-primary fw-bold">Prenom</td>
					<th class="bg-primary fw-bold text-info">Poste</th>
					<th class="bg-primary fw-bold text-danger">Salaires</th>
				</tr>
			</thead>
			<tbody>
				{% for salaire in salaires %}
					<tr>
						<td>{{ salaire.nom }}</td>
						<td>{{ salaire.prenom }}</td>
						<td class=" text-info fw-bold">{{ salaire.poste }}</td>
						<td class=" text-danger fw-bold">{{ salaire.salaire }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
    <a class="btn btn-primary" href="{{ path('employes') }}">Retour gestion</a>
	</div>

{% endblock %}
