{% extends "base.html.twig" %}

{% block title %}Employes Salaire{% endblock %}

{% block body %}
	<div class="container my-5">
		<table class="table table-light text-center">
			<thead>
				<tr>
					<td class="bg-primary fw-bold">Nom</td>
					<td class="bg-primary fw-bold">Prenom</td>
					<th class="bg-primary fw-bold text-info">Poste</th>
					<th class="bg-primary fw-bold text-danger">Salaires</th>
				</tr>
			</thead>
			<tbody>
					<tr>
						<td>{{ highestSalary.nom }}</td>
						<td>{{ highestSalary.prenom }}</td>
						<td class=" text-info fw-bold">{{ highestSalary.poste }}</td>
						<td class=" text-danger fw-bold">{{ highestSalary.salaire }}</td>
					</tr>
			</tbody>
		</table>
    <a class="btn btn-primary" href="{{ path('employes') }}">Retour gestion</a>
{% endblock %}
